@model ASPNetFinal.Models.Entity.AcademicBackground
@{ Layout = null;}

<div class="inside-sec margin-top-30">
    <!-- Academic Background -->
    <h5 class="tittle">Academic Background</h5>
    <div class="padding-30 exp-history">
        @Html.Action("RefreshAcademicPOST", "Dashboard")
        <!-- ADD EXP -->
        <form method="post" action="@Url.Action("AddAcademicBack","Dashboard")" enctype="multipart/form-data">
            <div class="exp">
                <div class="row">
                    <div class="col-sm-7">
                        <label>
                            Qualification
                            <input type="text" class="form-control" name="Qualification">
                        </label>
                        <label>
                            Degree
                            <input type="text" class="form-control" name="Degree">
                        </label>
                        <label>
                            Institute / University Name
                            <input type="text" class="form-control" name="UniversityName">
                        </label>
                        <label>
                            Year of Obtention
                            <input type="text" class="form-control" name="YearOfObtention">
                        </label>
                    </div>

                    <!-- UPLOAD IMG -->
                    <div class="col-sm-5">
                        <label class="form-control image-container" style="height:250px; padding:0px;margin:0px;">
                            <img src=" " id="news-image" style="width:100%;height:100%;" />
                            <i class="empty-icon"></i>
                            <a href="javascript:removePhoto()"><i class="clear-icon header-right-button"></i></a>
                            @Html.EditorFor(model => model.Image,
                                      new { htmlAttributes = new { @class = "form-control", type = "file", style = "display:none", accept = "image/*", onchange = "readURL(this)", id = "mediaUrl" } })
                        </label>
                    </div>

                    <!-- ADD DETAIL -->
                    <div class="col-sm-12">
                        <label>
                            Details
                            <textarea class="form-control" name="Details"></textarea>
                        </label>
                        <!-- ADD MORE -->
                        <button href="#" type="submit" class="btn margin-top-20"><i class="fa fa-plus"></i> Add Experience</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
