@model IEnumerable<ASPNetFinal.Models.Entity.AcademicBackground>
@{ Layout = null;}

<div class="inside-sec margin-top-30">
    <!-- Academic Background -->
    <h5 class="tittle">Academic Background</h5>
    <div class="padding-30 exp-history">

        <!-- ADD EXP -->
        <form method="post"action="@Url.Action("AddAcademicBack","Dashboard")">
            <div class="exp">
                <div class="row">
                    <div class="col-sm-7">
                        <label>
                            Qualification
                            <input type="text" class="form-control" name="Qualification">
                        </label>
                        <label>
                            Degree
                            <input type="text" class="form-control" name="Degree">
                        </label>
                        <label>
                            Institute / University Name
                            <input type="text" class="form-control" name="UniversityName">
                        </label>
                        <label>
                            Year of Obtention
                            <input type="text" class="form-control" name="YearOfObtention">
                        </label>
                    </div>

                    <!-- UPLOAD IMG -->
                    <div class="col-sm-5">
                        <label class="btn-file">
                            <i class="fa fa-camera"></i> Click to add diploma
                            <input type="file" style="display: none;">
                        </label>
                    </div>

                    <!-- ADD DETAIL -->
                    <div class="col-sm-12">
                        <label>
                            Details
                            <textarea class="form-control" name="Details"></textarea>
                        </label>
                        <!-- ADD MORE -->
                        <button href="#" type="submit" class="btn margin-top-20"><i class="fa fa-plus"></i> Add Experience</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
