@model IEnumerable<ASPNetFinal.Models.Entity.Category>
@{
    Layout = null;
}
<div class="col-sm-6">
    <input type="hidden" id="Catid" name="CategoryId" />
    <select id="Category" class="selectpicker">
        <option disabled selected value>-- Select Category --</option>
        @foreach (var item in Model)
    {

        <option value="@item.Id">@item.Name</option>
}
    </select>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $("#Category").on('change',function () {
        var selected = $(this).children("option:selected").val();
        $("#Catid").val(selected)
    })
</script>
