@model IEnumerable<ASPNetFinal.Models.Entity.ContactMe>

<button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-envelope"></i>
    <span class="count bg-primary">4</span>
</button>
<div class="dropdown-menu" aria-labelledby="message">
    @*<p class="red">You have 4 Mails</p>*@
    @model ASPNetFinal.Models.Entity.ContactMe
    @foreach (var item in Model)
    {
        <a class="dropdown-item media" href="#">
            <div class="message media-body">
                <span class="name float-left">@item.Name</span>
                <span class="time float-right">Just now</span>
                <p>@item.Subject</p>
            </div>
        </a>
    }
</div>
